* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 12px;
}
h1,
h2,
h3,
p {
  margin: 1rem 0;
  font-size: 10px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border-radius: 15px;
  margin: 5px;
  height: auto;
}

.headerLine {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(77, 66, 66, 0.358);
}
.insideCard {
  margin: 5px;
  padding: 2px;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(165, 42, 42, 0.121);
}
